@font-face {
  font-family: "OpenSans";
  src: url(../css/fonts/OpenSans-Regular.ttf) format("ttf"),
    url(../css/fonts/OpenSans-Regular.ttf) format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf) format("ttf"),
    url(./fonts/Roboto-Regular.ttf) format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url(./fonts/Ubuntu-Bold.ttf) format("ttf"),
    url(./fonts/Ubuntu-Bold.ttf) format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Ubuntu";
  src: url(./fonts/Ubuntu-Regular.ttf) format("ttf"),
    url(./fonts/Ubuntu-Regular.ttf) format("woff");
  font-style: bold;
  font-display: swap;
  font-weight: 700;
}
