@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../variables/variables.css");

html,
body {
  font-family: "OpenSans";
  font-size: 14px;
  height: 100%;
  color: var(--grey1);
  margin: 0px;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

main img {
  object-position: 50%;
  object-fit: cover;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--grey1);
}

li a:hover {
  opacity: 0.5;
}

h3 {
  padding: 0;
  margin: 0;
}

/* Wrapper */

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  background: var(--white1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 54px;
}

.header__container {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  height: 90px;
}

.header__logo {
  padding-left: 20px;
}

.header__logo img {
  max-width: none;
}

.header__menu {
  display: flex;
}

.menu__list {
  display: flex;
}

.menu__item {
  font-size: 16px;
  list-style: none;
  margin-right: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}

.menu__item:last-child {
  margin-left: 93px;
  margin-right: 202px;
}

.search__field {
  position: relative;
}

.header__search {
  width: 350px;
  margin-right: 86px;
}

.search__input {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 44px;
  border: 1px solid var(--black2);
  border-radius: 30px;
  padding-left: 19px;
}

.search__input::placeholder {
  position: absolute;
  top: 12px;
  left: 19px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--black1);
}

.search__input::-ms-clear {
  width: 0;
  height: 0;
}

.search__img {
  position: absolute;
  top: 7px;
  right: 34px;
  cursor: pointer;
}

.header__auth {
  font-size: 16px;
  color: var(--purple1);
  border: none;
  background-color: var(--white1);
  cursor: pointer;
}

.header__auth:hover {
  opacity: 0.7;
}

/* Main */

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1109px;
  margin: 0 auto;
  padding: 0 40px;
}

.main__hotel {
  margin-bottom: 129px;
  width: 100%;
}

.hotel__name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  /* line-height: 22px; */
}

.stars__all {
  display: flex;
}

.stars__item {
  padding-right: 28.5px;
  list-style: none;
}

.stars__item:first-child {
  padding-left: 0;
}

.hotel__stars {
  margin-bottom: 23px;
}

.hotel__images {
  display: flex;
  justify-content: center;
}

.images__left {
  padding-right: 28px;
}

.images__leftItem {
  width: 542.14px;
  height: 385.3px;
  cursor: pointer;
  transition: 0.5s;
}

.images__leftItem:hover {
  transform: scale(1.05);
}

.images__right {
  display: flex;
}

.images__rightList {
  display: flex;
  flex-direction: column;
  padding-right: 31px;
}

.images__rightItem {
  width: 254.69px;
  height: 122px;
  padding-bottom: 11px;
  cursor: pointer;
  transition: 0.5s;
}

.images__rightItem:hover {
  transform: scale(1.1);
}

.contacts__name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.contacts__adress {
  max-width: 250px;
  line-height: 20px;
  margin: 10px 0 10px;
}

.contacts__book {
  width: 254px;
  height: 41px;
  background: var(--purple1);
  border-radius: 8px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--white1);
  cursor: pointer;
}

.contacts__book:hover {
  opacity: 0.7;
}
.contacts__phone {
  display: inline-block;
  margin: 0px 0 28px 0;
}

.contacts__map {
  width: 254px;
  height: 174.59px;
  margin-bottom: 47px;
}

/* Advantage */

.main__advantage {
  margin-bottom: 90px;
}

.advantage__name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 35px;
}

.advantage__list {
  display: flex;
  min-height: 100%;
}

.advantage__item {
  height: 48px;
  display: flex;
  margin-bottom: 33px;
  align-items: center;
}

.advantage__item p {
  line-height: 20px;
  padding-left: 17px;
  align-items: center;
  white-space: nowrap;
}

.advantage__firstRow,
.advantage__secondRow {
  display: flex;
  flex-direction: column;
  margin-right: 133px;
}

/* Capability */

.main__capability {
  margin-bottom: 121px;
}

.capability__name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 54px;
}

.capability__main {
  display: flex;
  background: var(--black3);
  border-radius: 12px;
  padding: 31px 82px 28px 83px;
}

.capability__block {
  display: flex;
  flex-direction: column;
  padding-right: 35px;
  border-radius: 10px;
}

.capability__block:last-child {
  padding: 0;
}

.block__image {
  width: 210px;
  height: 133px;
  padding-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
  object-fit: fill;
}

.block__image:hover {
  transform: scale(1.1);
}

.block__name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  padding-bottom: 10px;
}

.block__text {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 30px;
  max-width: 206px;
  line-height: 20px;
  flex: 1 1 auto;
}

.block__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  width: 140px;
  height: 34.06px;
  background: var(--grey1);
  border-radius: 8px;
  border: none;
  color: var(--white1);
  cursor: pointer;
  /* padding-right: 26px; */
}

.block__button:hover {
  opacity: 0.7;
}

/* Other */

.main__other {
  display: flex;
  flex-direction: column;
  margin-bottom: 156px;
}

.other__name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 47px;
}

.other__hotels {
  display: flex;
}

.hotels__item {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  margin-right: 31px;
  background: var(--white1);
  box-shadow: 0px 50px 50px var(--grey2);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.hotels__item:hover {
  transform: scale(1.05);
}

.hotels__item:last-child {
  margin: 0px;
}
.hotels__image {
  width: 350px;
  height: 215px;
  border-radius: 16px;
  margin-bottom: 25px;
}

.hotels__container {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  max-width: 320px;
}

.hotels__name {
  display: inline-block;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  color: var(--grey1);
  flex: 1 1 auto;
}

.hotels__text {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 13px;
}

/* Interesting */

.main__interesting {
  display: flex;
  flex-direction: column;
  margin-bottom: 136px;
}

.interesting__name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin: 0;
  margin-bottom: 24px;
}

.interesting__pictures {
  display: flex;
  flex-wrap: nowrap;
  color: var(--white1);
}

.pictures__left {
  margin-right: 32px;
}

.pictures__left-big {
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.pictures__left-big:hover {
  transform: scale(1.05);
}

.bg-picture {
  width: 540px;
  height: 414px;
  box-shadow: 0px 4px 4px var(--black4);
  border-radius: 4px;
}

.bg-text {
  position: absolute;
  left: 13px;
  top: 205px;
  line-height: 22px;
  max-width: 191px;
  margin: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.pictures__right {
  display: flex;
  max-height: 414px;
}

.pictures__right-left {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.pictures__right-small {
  position: relative;
  display: inline;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.5s;
}

.pictures__right-small:hover {
  transform: scale(1.05);
}

.sm-picture {
  width: 255px;
  height: 197px;
  box-shadow: 0px 4px 4px var(--black4);
  border-radius: 15px;
  margin-bottom: 21px;
}

.sm-text {
  position: absolute;
  left: 11px;
  top: 112px;
  line-height: 22px;
  max-width: 188px;
  margin: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.pictures__right-right {
  display: flex;
  flex-direction: column;
}

/* Footer */

.footer {
  background: var(--grey1);
  color: var(--white1);
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 62px auto;
}

.contact__name {
  width: 205px;
  height: 50px;
  margin-bottom: 16px;
}

.footer__contact {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.contact__geo {
  display: flex;
  margin-bottom: 13px;
}

.contact__phone {
  display: flex;
}

.contact__geo img,
.contact__phone img {
  margin-right: 8px;
}

.contact__geo a,
.contact__phone a {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-top: 8px;
  color: var(--white1);
}

.contact__geo a:hover,
.contact__phone a:hover {
  opacity: 0.7;
}

.footer__sections {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-right: 135px;
}

.sections__name {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: var(--white1);
  margin-bottom: 26px;
}

.sections__catalog {
  display: flex;
}

.catalog__list {
  margin: 0 35px 0 20px;
}

.catalog__item {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 22px;
  white-space: nowrap;
}

.catalog__item a {
  color: var(--white1);
}

.footer__social {
  margin-right: 20px;
  margin-top: 136px;
}

.social__icon {
  margin-right: 18px;
  width: 30.07px;
  height: 28.95px;
  cursor: pointer;
  transition: 0.5s;
}

.social__icon:hover {
  transform: scale(1.1);
}

/* Media */

@media screen and (min-width: 1200px) and (max-width: 1320px) {
  .menu__item:last-child {
    margin-left: 0;
    margin-right: 60px;
  }
}

/* >992px && <1299px*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .search__img {
    right: 9px;
  }

  .header__search {
    margin-right: 15px;
  }

  .images__left {
    display: flex;
    align-items: center;
  }

  .images__leftItem {
    width: 350px;
    height: 250px;
  }

  .menu__item:last-child {
    margin-left: 0;
    margin-right: 60px;
  }

  .footer__sections {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .search__img {
    right: 9px;
  }

  .header__search {
    margin-right: 15px;
  }

  .menu__item {
    margin-right: 20px;
  }
  .menu__item:last-child {
    margin-left: 0;
    margin-right: 20px;
  }
  .search__window {
    width: 250px;
  }

  .header__auth {
    margin-left: 0;
  }

  /* main hotel */

  .main__hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hotel__images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images__left {
    padding: 20px 0;
  }

  /* main advantage */

  .main__advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantage__firstRow,
  .advantage__secondRow {
    margin-right: 70px;
  }

  /* main capability  */

  .main__capability {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .capability__main {
    padding: 15px 30px;
  }
  /* main other   */

  .main__other {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* main interesting  */

  .main__interesting {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .interesting__pictures {
    display: flex;
    flex-direction: column;
  }

  .pictures__left {
    padding-bottom: 40px;
    margin-right: 0;
  }

  /* footer */

  .footer__social {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }

  .social__icon {
    margin-bottom: 15px;
  }

  .footer__sections {
    margin-right: 50px;
  }
}

/* <992px */

@media screen and (min-width: 480px) and (max-width: 767px) {
  /* header */
  .search__img {
    right: 9px;
  }

  .menu__list {
    display: none;
  }
  .header__auth {
    display: none;
  }

  .header__search {
    margin-right: 30px;
  }

  /* burger-menu */

  .icon-menu {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: var(--blue1);
    height: 2px;
  }

  .icon-menu span {
    background-color: var(--blue1);
    height: 2px;
  }

  /* main hotel */

  .main__hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hotel__images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images__left,
  .images__rightList {
    padding: 0;
  }

  .images__leftItem,
  .images__rightItem {
    width: 400px;
    height: 200px;
    padding-bottom: 11px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* main advantage */

  .main__advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantage__list {
    display: flex;
    flex-direction: column;
  }

  /* main capability  */

  .main__capability {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .capability__main {
    display: flex;
    flex-direction: column;
  }

  .capability__block {
    padding-right: 0;
    padding-bottom: 40px;
    align-items: center;
  }

  .capability__main {
    padding: 15px 30px;
  }

  /* main other */

  .main__other {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .other__hotels {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }

  .hotels__item {
    margin: 20px 0;
  }

  .hotels__item img {
    margin: 0 auto;
  }

  /* main interesting  */

  .main__interesting {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .interesting__pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pictures__left {
    padding-bottom: 40px;
    margin-right: 0;
  }

  /* footer */

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__sections {
    margin: 40px 0;
  }
  .footer__social {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .hotel h1,
  .advantage h1,
  .capability h1,
  .other h1,
  .interesting h1 {
    text-align: center;
  }

  .hotel,
  .advantage,
  .capability,
  .other,
  .interesting {
    /* align-items: center; */
  }

  /* header */

  .header__container {
    justify-content: space-between;
  }

  .menu__list {
    display: none;
  }
  .header__auth {
    display: none;
  }

  .header__search {
    display: none;
  }

  /* burger-menu */

  .icon-menu {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: var(--blue1);
    height: 2px;
  }

  .icon-menu span {
    background-color: var(--blue1);
    height: 2px;
  }

  /* main hotel */

  .main__hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hotel__images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images__left,
  .images__rightList {
    padding: 0;
  }

  .images__leftItem,
  .images__rightItem {
    width: 400px;
    height: 200px;
    padding-bottom: 11px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* main advantage */

  .main__advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantage__firstRow {
    margin: 0;
  }

  .advantage__list {
    display: flex;
    flex-direction: column;
  }

  .advantage__item p {
    white-space: break-spaces;
  }

  /* main capability  */

  .main__capability {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .capability__main {
    display: flex;
    flex-direction: column;
  }

  .capability__block {
    padding-right: 0;
    padding-bottom: 40px;
    align-items: center;
  }

  .capability__main {
    padding: 15px 30px;
  }

  /* main other */

  .main__other {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .other__hotels {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }

  .hotels__item {
    margin: 20px 0;
  }

  .hotels__item img {
    margin: 0 auto;
  }

  /* main interesting  */

  .main__interesting {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1300px;
  }

  .interesting__pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pictures__right {
    flex-direction: column;
  }

  .pictures__left {
    padding-bottom: 40px;
    margin-right: 0;
  }

  .pictures__right-left {
    margin-right: 0;
  }
  /* footer */

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__sections {
    margin: 40px 0;
  }

  .sections__catalog {
    flex-direction: column;
  }
  .footer__social {
    margin: 0;
  }
}

/* modal */

.vmodal.open .modal-overlay,
.vmodal.open .modal-window {
  opacity: 1;
  z-index: 1000;
  transition: 0.2s;
}

.modal-overlay,
.modal-window {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(239, 239, 239, 0.5);
  backdrop-filter: blur(1px);
}

.modal-window {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
